@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0px;
    padding: 0px;
    font-family: "Nunito Sans", sans-serif;
}
header{
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    position: sticky;
    top: 0px;
    z-index: 1;
}
#header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
header>div>ul{
    display: flex;
    gap: 20px;
}
header>div>ul>li{
    list-style: none;

}
header>div>ul>li>a{
    text-decoration: none;
    color: #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
    transition: .5s ease;
}
header>div>ul>li>a:hover{
    background-color: #333;
    
}
#header-left>h1{
    color: #ffffff;
}
#header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 80px;
}
#header-left>ul{
    display: flex;
    gap: 20px;

}
#header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-right: 80px;
}
#hearder-right>button{
    padding: 8px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 1rem;
}
#header-right>button:hover{
    background-color: rgb(247, 247, 247,0.8);
    transition: .3s ease;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    height: 60px;
}
nav>h1{
    margin-left: 80px;
    font-size: 1.5rem;
}
nav>h1:hover{
    background-color: #dcdcdc;
    border-radius: 50%;
    padding: 8px 0px;
}
nav>ul{
    display: flex;
    gap: 20px;
    margin-right: 80px;
}

nav>ul>li{
    list-style: none;
}
nav>ul>li>a{
    text-decoration: none;
    color: #6B6B6B;
}
nav>ul>li>a:hover{
    color: #000000;
    transition: .4s ease;
}
#hero-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    width: 100vw;
    gap: 40px;
}
.hero-box{
    width: 35%;
}
#hero-section-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#hero-section-left>p>span{
    margin: 7px;
}
#hero-section-left>div>div>input{
    width: 350px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 30px;
    border-style: none;
    background-color: #e1e1e1;

    
}
.btn{
    padding: 20px 50px;
    border-radius: 10px;
    border-style: none;
    font-weight: 600;
    font-size: 15px;
    margin-right: 10px;
}
.primary-button{
    background-color: #000000;
    color: #ffffff;
}
.secondary-button{
    background-color: #000000;
}
#hero-section>div>p>span>a{
    color: #000000;
}
#hero-section>div>p>span>a:hover{
    background-color: #6B6B6B;
    border-radius:20px;
}
#hero-section>div>h1{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 64px;
}
.hero-location{
    position: relative;
    top: 0px;
}
.mid-hero{
    width: 0px;
    height: 69px;
    border: .5px solid black ;
    position: absolute;
    top: 55px;
    left:22px;
    z-index: 1;
}
.pickup-hero,.dropoff-hero{
    position: relative;
    top: 0px;
}
.pickup-sp,.dropoff-sp{
    position: absolute;
    top: 40px;
    left: 14px;
}
.pick-arrow{
    position: absolute;
    top: 40px;
    left: 370px;
}
#sug-section{
    display: flex;
  
    
}
#sug-section>div{
    width: 100%;
    margin: 50px;
}

.sug-box{
    width: 350px;
    height: 125px;
    background-color:#f3f3f3;
    display: flex;
    padding: 16px;
    border-radius: 5px;
}
#sub-super-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.sug-box>div>h3{
    font-size: 20px;
}
.sug-box>div>p{
    font-size: 15px;
}
.sug-box>div>img{
    width: 120px;
}
.sug-button{
    border-radius:20px;
    padding: 12px;
    background-color:white;
    margin: 8px;
    font-weight: 600;
    border-style: none;
}
#plan-main>h1{
    font-size: 40px;
    margin-bottom: 15px;
}
#plan-main{
    width:90vw;
    margin: auto;
}
.bottom-main-plan{
    display: flex;
    gap: 40px;
}
.left-plan{
    display: flex;
    width: 65%;
    background-color: #9dcdd6;
    border-radius: 12px;
    text-align: left;
    gap: 50px;
    position: relative;
    
}
#left-sub-plan {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 30vw;
    max-width: 420px;
    padding: 60px 0px;
    margin-left: 10px;
}

#left-sub-plan>div{
    padding: 0px 10px;
    border-radius: 10px;
    border-style: none;
    font-weight: 900;
    display: flex;
    gap: 30px;
    font-size: 15px;
}
.right-sub-plan{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#datetime{
    display: flex;

    color: #333;
    flex-direction: column;
}
.datetime input {
  padding: 10px 1px;
  border-radius: 6px ;
  border-style: none;
  min-width: 150px;
}
.datetimebutton{
    padding: 15px 40px;
    border-radius: 10px;
    border-style: none;
    font-size: 15px;
    margin-right: 10px;
    color: white;
    background-color: #000000;
}
.right-plan{
    width: 40%;
    border: 1px solid rgb(223, 222, 222);
    padding: 20px;
    border-radius: 20px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.plan-benefits{
    display: flex;
    gap: 20px;

}
#hero-section-hide{
    display: none;
}
@media screen and (max-width:1000px){
    #hero-section-right>img{
        display: none;
    }
    #hero-section-hide{
        display:block;
        text-align: center;
    }
    .bottom-main-plan{

    }
}
.uber-footer {
  background: #000;
  color: #fff;
  margin-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 64px 0;
}

.footer-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.footer-logo {
  font-size: 32px;
  font-weight: 500;
}

.help-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.help-link:hover {
  text-decoration: underline;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 32px;
}

.footer-links h4 {
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-links a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-links a:hover {
  color: #fff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #222;
  padding-top: 24px;
}

.socials i {
  font-size: 18px;
  margin-right: 16px;
  cursor: pointer;
}

.socials i:hover {
  opacity: 0.7;
}

.meta span {
  margin-left: 24px;
  font-size: 14px;
  cursor: pointer;
}

.footer-legal {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #aaa;
}

.footer-legal a {
  color: #aaa;
  margin-left: 16px;
  text-decoration: none;
}

.footer-legal a:hover {
  color: #fff;
}
